<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <% include ./partials/head %>
    <title>Show</title>
  </head>
  <body>
      <nav>
          <% include ./partials/nav %>
        </nav>
    <h1>More Info</h1>
    

    <a class="btn " href="/travel"><span class="oi oi-arrow-thick-left"></span> </a>

    <div class="locale">
      <h3><%=post.title%></h3>
      <br />
      <img src="<%=post.image%>" />
      <p><%=post.description%></p>
      <br />
      <p>Written by: <%=post.author%></p>
      <br />
    </div>
    <br />
    <br />
    <nav>
      <% if (currentUser) {%>
      <a class="btn btn-outline-dark"
       href="/travel/<%=post.id%>/edit">Edit this Post</a>
      </button>
      <%}%>
    </nav>
  <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
