<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <% include ./partials/head %>
    <title>Wander | Travel</title>
  </head>
  <body>
      <nav>
          <% include ./partials/nav %>
        </nav>
        <br />
        <br />
    <div class="container">
    <a class="btn btn-outline-dark" href="/travel"><span class="oi oi-arrow-thick-left"></span> Back</a>
    <br />
    <br />
    
      <h3 class='display-4'><%=post.title%></h3>
      <br />
      <img class="img-fluid" src="<%=post.image%>" />
      <p>Info: <%=post.description%></p>
      <br />
      <p>Written by: <%=post.author%></p>
      <br />
    </div>
    <br />
    <br />
    <nav>
      <% if (currentUser) {%>
      <a class="btn btn-outline-dark"
       href="/travel/<%=post.id%>/edit">Edit this Post</a>
      </button>
      <%}%>
    </nav>
  <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
