<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/main.css" />
    <title>Show</title>
  </head>
  <body>
      <nav>
          <% include ./partials/nav %>
        </nav>
    <h1>More Info</h1>
    

    <a class="btn " href="/travel"><span class="oi oi-arrow-thick-left"></span> </a>

    <div class="locale">
      <h3><%=post.title%></h3>
      <br />
      <img src="<%=post.image%>" />
      <p><%=post.description%></p>
      <br />
      <p>Written by: <%=post.author%></p>
      <br />
    </div>
    <br />
    <br />
    <nav>
      <% if (currentUser) {%>
      <a class="btn btn-outline-primary"
       href="/travel/<%=post.id%>/edit">Edit this Post</a>
      </button>
      <%}%>
    </nav>
  </body>
</html>
